

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-1.jpg" alt="..."/>
                          <h4 class="title">{{firstName}} {{lastName}}<br />
                             <!--<a href="#"><small>@ {{user.name}}</small></a>-->
                          </h4>
                        </div>
                        <!--<p class="description text-center">-->
                            <!--"..."-->
                        <!--</p>-->
                    </div>
                    <!--<hr>-->
                    <!--<div class="text-center">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-3 col-md-offset-1">-->
                                <!--<h5>..<br /><small>...</small></h5>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<h5>..<br /><small>...</small></h5>-->
                            <!--</div>-->
                            <!--<div class="col-md-3">-->
                                <!--<h5>..<br /><small>...</small></h5>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
             
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form method="POST" (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div class="row">
                                <!--<div class="col-md-5">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>Company</label>-->
                                        <!--<input type="text" class="form-control border-input" disabled placeholder="Company" value="goClean">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" name="userName" [(ngModel)]="userName" placeholder="Username" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input type="email" class="form-control border-input" name="email" [(ngModel)]="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" name="firstName" [(ngModel)]="firstName" placeholder="Company" value="Abhishsek">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" name="lastName" [(ngModel)]="lastName" placeholder="Last Name" value="Rathore">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control border-input" name="address" [(ngModel)]="address" placeholder="Home Address" value="Melbourne, Australia">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control border-input" name="city" [(ngModel)]="city" placeholder="City" value="Melbourne">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control border-input" name="country" [(ngModel)]="country" placeholder="Country" value="Australia">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control border-input" name="postalCode" [(ngModel)]="postalCode" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="form-group">-->
                                        <!--<label>About Me</label>-->
                                        <!--<textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">-->
                                    <!--..</textarea>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>

                    </div>

                </div>
                <div *ngIf="showAlert" class="alert alert-{{role}} alert-dismissible" role="alert">
                    <a (click)="dismissAlert()" style="right: 11px;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{msg}}
                </div>
            </div>


        </div>
    </div>
