    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="row" style="margin-bottom: 8px; width: 100%; text-align: right"   >
        <!-- <button type="button" class="btn btn-default btn-sm" onclick="this.blur()" style="margin: 5px; height: 30px;">
            <span class="glyphicon glyphicon-refresh"></span>
          </button> -->




            <div class="pull-right" style="width: 20vw;    background-color: white">
                <ng-multiselect-dropdown
                [placeholder]="'area'"
                [data]="areaList"
                [(ngModel)]="selectedAreas"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onDeSelectAll)="onItemDeSelectAll($event)"
                
                >
                </ng-multiselect-dropdown>
            </div>




</div>
<div class="row" style="width: 100%">
    <div class="map"

         leaflet
         [(leafletZoom)] = "zoom"
         [leafletOptions]="options"

         (leafletMapReady)="onMapReady($event)"
         (leafletMapZoomEnd)="onZoomLevelChange($event)">

    </div>
</div>


        <!---->
        <!---->
       <!---->
        <!--<div class="row">-->

            <!--<div class="col-md-12">-->
                <!--<div class="card">-->
                    <!--<div class="header">-->
                        <!--<h4 class="title">Weekly Bin Behaviour</h4>-->
                        <!--<p class="category">24 Hours performance</p>-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div id="chartHours" class="ct-chart"></div>-->
                        <!--<div class="footer">-->
                            <!--<div class="chart-legend">-->
                                <!--<i class="fa fa-circle text-info"></i> Open-->
                                <!--<i class="fa fa-circle text-danger"></i> Click-->
                                <!--<i class="fa fa-circle text-warning"></i> Click Second Time-->
                            <!--</div>-->
                            <!--<hr>-->
                            <!--<div class="stats">-->
                                <!--<i class="ti-reload"></i> Updated 3 minutes ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!---->

